<h1> REGISTER </h1>
<form action="register" method="post">
    <input type="email" name="email" placeholder="email" >
    <input type="password" name="password"  placeholder="Lösenord" >
    <input type="password" name="passwordconfirm" placeholder="confirm Lösenord" >
    <input type="text" name="first" placeholder="Förnamn" >
    <input type="text" name="second" placeholder="Efternamn" >
    <select name="country">
        <option value="sweden">sverige</option>
    </select>
    <input type="text" name="" placeholder="Företags namn">
    <input type="text" name="" placeholder="Organisation number">
    <input type="text" name="" placeholder="Förnamn (kontakt person)">
    <input type="number" name="" placeholder="Efternamn (kontakt person)">
    <input type="text" name="" placeholder="Telefon (kontakt person)">
    <input type="text" name="" placeholder="Företags adress">
    <input type="number" name="" placeholder="Företagets postadress">
    <input type="number" name="" placeholder="Företagets stad">
    <input type="text" name="" placeholder="Hemsida URL">
    <input type="text" name="" placeholder="Instagram URL">
    <input type="submit" value="Registrera">
</form>