#chartWrapper{
    width:100%;
    height:auto;
    background-color: burlywood;
    display:flex;
}
.chart{
    padding:20px;
    width:calc(100%/2);
    height:auto;
}
#infoNumberWrapper{
    text-align: center;
    display:flex;
}
.infoNumber{
    padding:20px;
    width:calc(100%/3);
    height:auto;
}