/* GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL */
#wrapper{
    width:100%;
    height: auto;
    display:flex;
}
/* TOPBAR TOPBAR TOPBAR TOPBAR TOPBAR TOPBAR TOPBAR */
#topbar-wrapper{
    width:100%;
    background-color:blue;
    height:Auto;
    overflow:hidden;
}

#topbar{
    height:5vh;
    width:100%;
    background-color:#fff;
    display:flex;
    justify-content: space-between;
   
}
#topbar-account-title{
    height:5vh;
    text-align: center;
    line-height: 5vh;
}
#topbar-account{
    width:10%;
    height: auto;
}

#topbar-title{
    position: relative;
    display: inline-block;
    width:15%;
    text-align: left;
    height:5vh;
    line-height: 5vh;
    font-size:28px;
    cursor: pointer;
    margin-left:1.5%;
}
#topbar-title img{
    width: 100%;
    height: auto;
    max-width: 100%;
}
#dropdown-item-wrapper{
    display:none;  
    position: absolute;
    height:auto;
    background-color: #f1f1f1;
    width: 60%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#topbar-account:hover #dropdown-item-wrapper{
    display:block;
}
.dropdown-item{
    padding:2.5vh;
}
.dropdown-link{
    text-decoration: none;
}
.dropdown-link span{
    color:black;
}

/* MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU */
#menu-wrapper{
    width:15%;
}
#navbar{
    width:100%;
    background-color:#1B2A47;
    padding:10px;
    list-style:none;
    height:100vh;
}
.nav-item{
    text-align: center;
    padding:6%;
}
.nav-item:hover{
    background-color:blue;
    font-size:27px;
    cursor:pointer;
}
.nav-link{
    text-decoration: none;
    color:white;
}
.nav-link span{
    font-size:1.3em;
}

/* CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT */
#content-wrapper{
    width:100%;
}