<% include includes/header %>

    <div id="content-wrapper">
        <h5 id="contentTitle">Datan innefattar de 30 senaste dagarna</h5>
            <div id="cardWrapper">
                <div class="chart-inside">
                    <div class="chart-inside-inside">
                        <div class="chartTitle"><span>Försäljning</span>
                            <div class="amount"><%- total_sale %> KR</div> <div class="percentage"></div>
                        </div>    
                    </div>
                </div>
                <div class="chart-inside">
                    <div class="chart-inside-inside">
                        <div class="chartTitle"><span>Din andel (20%)</span>
                            <div class="amount"><%- Math.round(total_sale*0.2) %> KR</div> <div class="percentage"></div>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="chartWrapper-inside">
                <div class="inside-chart">
                    <div class="chart">
                            <canvas id="myChart1" ></canvas>
                    </div> 
                </div>
                <div class="inside-chart">
                    <div id="totalorders_wrapper">
                        <form action="/" method="get">
                            <input type="date" name="dateStart" id="calender">
                            <input type="date" name="dateStop" id="calender">
                            <input type="submit" value="Get data">
                        </form>
                        <h1>
                            <%- betweenSum %>
                        </h1>
                    </div>
                </div>
             </div>
        <script>
       
        var ctx = document.getElementById('myChart1').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["Måndag", "Tisdag", "Onsdag", "Torsdag", "Fredag", "Lördag", "Söndag"],
                datasets: [{
                    fillColor: "rgba(120,120,120,0.2)",
                    strokeColor: "rgba(120,120,120,1)",
                    pointColor: "rgba(120,120,120,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(120,120,120,1)",
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: 'red',
                    data: [{
                        x: new Date(),
                        y: "<%- Math.round(måndag) %>"
                    }, {
                        t: new Date(),
                        y: "<%- Math.round(tisdag) %>"
                    },
                    {
                        x: new Date(),
                        y: "<%- Math.round(onsdag) %>"
                    },
                    {
                        x: new Date(),
                        y: "<%- Math.round(torsdag) %>"
                    },
                    {
                        x: new Date(),
                        y: "<%- Math.round(fredag) %>" 
                    },
                    {
                        x: new Date(),
                        y: "<%- Math.round(lördag) %>"
                    },
                    {
                        x: new Date(),
                        y: "<%- Math.round(söndag) %>"
                    }],
                    
                }]
            },
            options : {
                    scales : {
                        xAxes : [ {
                            gridLines : {
                                display : false
                            }
                        } ],
                        yAxes : [ {
                            gridLines : {
                                display : false
                            }
                        } ]
                    },
                    legend: {
                            display: false
                        },
                        tooltips: {
                            callbacks: {
                            label: function(tooltipItem) {
                                    return tooltipItem.yLabel;
                            }
                            }
                        }
                }
        });

        </script>
        <div id="order-wrapper">
            <div id="orders-wrapper"> 
                <% order_info.forEach(res=>{ %>
                    <div id="orders">
                        <div class="orderItem"><%- res['post_modified'].toString().split(" ").splice(0,5).join(" ") %></div>
                        <div class="orderItem"><%- Math.round(res['meta_value']) %> kr</div>
                        <% if(res['post_status'] == "wc-cancelled"){ %>
                        <div class="orderItem"><div id="red"></div>Avbruten</div>
                        <% }else if(res['post_status'] == "wc-processing"){ %>
                        <div class="orderItem"><div id="orange"></div>Behandlas</div>
                        <% }else{ %>
                        <div class="orderItem"><div id="green"></div>Färdig</div>  
                        <% } %>
                    </div>
                <% }); %>
            </div>

        </div>

    </div>
</div>

</body>
</html>